@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: rgb(70, 70, 70);
    background: var(--background);
    font-family: Inter, sans-serif;
}

a {
    color: #7351f5;
    transition: 0.3s;

    &:hover {
        color: #c9bbff;
    }
}

button {
    transition: 0.3s;
}
